# backups
*~
*.bak
**/.DS_Store

# Byte-compiled / optimized / DLL files
a.out
__pycache__/
*.py[cod]
*$py.class
*.class

# signatures and cryptography
*.sig

# archives
*.zip
*.tgz
*.tar.gz
*.tar
*.7z

# LaTex
*.pdf
*.aux
*.log

# CMS
.inode
**/input
**/output

# management of this report in action
exam_sessions
TEMA_OGGI*

# Visual Studio
.vs/
.suo/
